body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c7b26f;
    color: #4f5083;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: larger;
    font-display: block;
}
header {
    background-color: #2b3d55;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


